logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
gidatabase/config.json
config/config.default.js
config/config.production.js
config/config.unittest.js
blogh5/ftp.js
blogh5/.env*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

blogh5/node_modules
blogh5/dist
blogh5/ftp.js
# local env files
blogh5/package-lock.json
blogh5/yarn.lock
blogh5/.env.local
blogh5/.env.*.local

# Log files
blogh5/npm-debug.log*
blogh5/yarn-debug.log*
blogh5/yarn-error.log*

#Electron-builder output
blogh5/dist_electron