logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
gidatabase/config.json
config/config.default.js
config/config.production.js
config/config.unittest.js
blogvue/ftp.js
blogvue/.env.production

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

blogvue/node_modules
blogvue/dist
blogvue/ftp.js
# local env files
blogvue/package-lock.json
blogvue/yarn.lock
blogvue/.env.local
blogvue/.env.*.local

# Log files
blogvue/npm-debug.log*
blogvue/yarn-debug.log*
blogvue/yarn-error.log*

#Electron-builder output
blogvue//dist_electron